
/* SharedLayout.css */

.layoutcontainer {
  display: flex;
  height: 100vh;
}

.layoutSideBar {
  height: 100%;
  overflow: auto;
}

.layoutNavbar {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}

.layoutMain {
  padding:20px;
}
