/* media query */
@media screen and (min-width: 260px) and (max-width: 740px) {
  .mai-nev {
    position: relative;
   color: red;
  }
  .button1 {
    display:flex;
    color: black;
    width: 150px;
    box-sizing: border-box;
    border: none;
  }
  .button1:active {
    color: rgb(128, 255, 128);
  }
  .button1:focus {
    color: rgb(128, 255, 128);
    border-bottom: 2px solid rgb(128, 255, 128);
  }
  
  button1.selected {
    color: rgb(128, 255, 128);
  }
  .primaryArtist2{
    position: relative;
    margin-top: 30%;
  }
}
/* end media query */

/* nevtab-button */
.primaryArtist2{
  position: relative;
  margin-top: 30%;
}
.primaryArtist2 select{
  position: relative;
  font-size: 70%;
  margin: 0;
  padding: 0;
  width: 40%;
  height: 90%;
  outline: none;
  opacity: .4;
}
.youtubemain{
  margin-left: 10%;
}
.youtube{
  width: 25%;
  position: relative;
    
}
.table{
  position: absolute;
  margin-top: 10%;
  width: 72%;
  margin-left: 15%;
}
.table1{
  position: absolute;
  margin-top: 30%;
  width: 90%;
  margin-left: 5%;
}
.table2{
  position: absolute;
  margin-top: 15%;
  width: 72%;
  margin-left: 15%;
  
}
.adioTable{
  position: relative;
  margin-top: 1%;
  width:55%;
  margin-left: 45%;
  text-align: left;
}
.adioTable1{
  position: relative;
  margin-top: 1%;
  width: 55%;
  margin-left: 45%;
  text-align: left;
}
.adioTable2{
  position: relative;
  margin-top: 1%;
  width: 55%;
  margin-left:45%;
  text-align: left;
}

table, tr, td,th {
  border: none !important;
}

.catalogs{
  position:absolute;
   margin-top:20px;
   margin-left:200px;
   text-align:left;
   background-color:black;
   color:white;
   width:530px;
}
.mai-nev {
  position: relative;  
}

.button1 {
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 15px 70px;
  font-size: 20px;
  margin: 5px 8px;
  width: 350px;
  box-sizing: border-box;
  border: none;
  /* pointer-events: none; */
  /* border-bottom: 2px solid red; */
}
.button1:active {
  color: rgb(128, 255, 128);
}
.button1:focus {
  color: rgb(128, 255, 128);
  border-bottom: 2px solid rgb(128, 255, 128);
}

button1.selected {
  color: rgb(128, 255, 128);
}
.file {
  font-size: 15px;
  margin-left: 170px;
  position: absolute;
}
.h4 {
  position: absolute;
  color: DarkTurquoise;
  margin-top: 60px;
  margin-left: 120px;
  text-align: center;
  /* cursor: pointer; */
  
  /* color:'DarkTurquoise' ,textAlign:'center',marginTop:'10px' */
}
.GUIDELINES{
  margin-top: 25%;
  margin-left: 25%;
}
.GUIDELINES2{
  position: absolute;
  margin-top:0%;
  margin-left: -120%;
}

/* relesetype option */
.optiontype {
  height: 40px;
  width: 500;
  border: none;
  overflow: hidden;
  
}
.optiontype::-moz-focus-inner {
  border: 0;
  
}
.optiontype:focus {
  outline: none;
  
}
.optiontype option {
  width: auto;
  position: relative;
  height: auto;
  font-size: .8em;
  padding: 0px 0;
  text-align: center;
  margin-right: 40px;
  display: inline-block;
  text-emphasis-color: black;
  cursor: pointer;
  border: rgb(0, 29, 102) solid 1px;
  border-radius: 5px;
  color: black(13, 13, 3, 0.504);
}

.ReleaseType {
  position: absolute;
  border-radius: 30%;
  padding: 0%;
  margin: 0%;
}

.EP {
  position: relative;
  right: 0px;
  width: 35px;
  height: 35px;
  border-radius: 8%;
}
.Single {
  position: absolute;
  width: 60px;
  height: 35px;
  border-radius: 8%;
}
.Album {
  position: absolute;
  left: 140px;
  width: 70px;
  height: 35px;
  border-radius: 8%;
}
.Component {
  position: absolute;
  left: 230px;
  width: 100px;
  height: 35px;
  border-radius: 8%;
}
.ReleaseTitle {
  position: relative;
  left: 500px;
  top: 130px;
  margin-top: 1%;
}
/* app css includede */
.container {
  background-color: #f2f2f2;
  padding: 140px 920px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
}
.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.form-control1 {
  right: 10px;
}
/* flexboxcss */
.flex-container {
  display: flex;
  background-color: white;
}

.flex-container > div {
  margin-top: 40px;
  width: 40%;
  margin-right: 50px;
  /* padding: 20px; */
  font-size: 30px;
  text-align: left;
}

/* flexboxcss */
.flex-container1 {
  display: flex;
  background-color: white;
}

.flex-container1 > div {
  margin-top: 60px;
  /* margin-right: 30px; */
  /* padding: 20px; */
  font-size: 30px;
  text-align: left;
  margin-left: 15%;
}

.label {
  position: relative;
  text-align: left;
  width: 500px;
}

.lable {
  font-size: 15px;
}
.box {
  position: relative;
  margin-left: 120px;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border: 3px solid #555;
}
.box2 {
  position: relative;
  margin-left: 1000px;
  margin-top: -90px;
  width: 150px;
  height: 150px;
  border: 3px solid #555;
}
.fileuploader{
  position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 140px;
    margin-top: 75%;

}
.fileuploader2{
  position: relative;
  margin-top: -12%;

}
.Addclosebutton1{
  position: relative;
  margin-top: -90px;
  margin-left: 85%;
}
.Addclosebutton2{
  position: absolute;
  margin-top: 8px;
  left: 155%;
}
.Addclosebutton3{
  position: relative;
  margin-top: -90px;
  margin-left: 85%;
}
/* popup form? */
.formbutton {
  top:8px;
  position: relative;
  left: 110%;
}
.songuploging {
  margin-top: 150px;
  position: absolute;
  left: 30%;
}
.button2 {
  background-color: black;
  color: white;
  width: 150px;
  height: 30px;
}

/* company list */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.company-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.audio-list{
  list-style-type: none;
  margin-top: 40px;
  margin-left: -900px;
  font-size: 20px;

}
.audio-list li input {
  margin-left:10px;
}
.company-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  /* background-color: #f2f2f2; */
  margin-bottom: 5px;
}

.company-list li label {
  margin-left: 10px;
}
.company-list li input {
  margin-left:380px;
}

/* new drowpdown file uplod css */

.ImageDocument{
  position: relative;
  top: -35%;
  left: 10%;
  margin-top: 60px;
  margin-left: -80px;
  width: 280px;
  height: 50px;
  border: 2px dashed #3607f0;
}

.ImageDocument input{
  position: absolute;
  font-size: 70%;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 90%;
  outline: none;
  opacity: .4;
}

.AudioDocumentsongs{
  position: relative;
  top:30%;
  left: 0%;
  margin-top: -53px;
  margin-left: -10px;
  width: 280px;
  height: 50px;
  border: 2px dashed #3607f0;
}
.AudioDocumentsongs input{
  position: relative;
  font-size: 120%;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 90%;
  outline: none;
  opacity: .4;
}
/* labelImageDocument */
.labelImageDocument{
  position: absolute;
  top: 65%;
  left: 0%;
  margin-top: 40px;
  margin-left: 10px;
  width: 300px;
  height: 50px;
  border: 2px dashed #3607f0;
}

.labelImageDocument input{
  position: absolute;
  font-size: 70%;
  margin: 0;
  padding: 0;
  width: 90%;
  height: 90%;
  outline: none;
  opacity: .4;
}



